@import"../css/superfish.css";@import"../css/prettyPhoto.css";
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body {
	min-width:978px;
	/*color:#a2a1a1;*/
        color:#666;
	font:normal 13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#f4f4f4;
}

.main {
	width:954px; 	
	padding:0;
	margin:0 auto;
	position:relative;
}

a {color:#e58f0f; outline:none;}
a:hover {text-decoration:none;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
.justify { text-align: justify; }
p {margin-bottom:18px;}
.p0 {margin-bottom:4px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:25px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#0099ff;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}
.spacing2 {margin-right:45px;}
.spacing3 {margin-right:60px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}
.img-indent1 {float:left; margin:0 22px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 30px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 17px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}	

.border {border:3px solid #000;}

a {cursor:pointer;}

.button, .button-1, .list-1 li a, .list-2 li a, .link, .link-1, .link-2, h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {height:273px; width:100%; position:relative; z-index:2; background:url(../images/header-bg.jpg) center 0 no-repeat;;}
.header {height:113px; width:100%; background:url(../images/top_bg.jpg) center 0 no-repeat;}

/*********************************row-1*************************************/
.row-1 {width:100%; height:113px; position:relative; z-index:2;}

h1 {position:absolute; top:11px; left:0px;}
h1 a {display:block; width:239px; height:92px; text-indent:-5000px; background:url(../images/logo.png) 0 0 no-repeat;}

.list-services {position:absolute; top:19px; right:-2px; padding:0; overflow:hidden;}
.list-services li {float:left; padding:0; margin-left:4px;}
.list-services li a {display:block; text-decoration:none;}


/*********************************row-2*************************************/
.row-2 {width:100%; height:336px; padding-top:7px; margin-top:0px; position:relative; z-index:1; /*background:url(../images/header-bg1.jpg) center 0 no-repeat;*/}
.slider-shadow {width:968px; height:347px; position:absolute; top:0; left:50%; margin-left:-484px; background:url(../images/slider-shadow.png) 0 0 no-repeat;}

/*********************************row-3*************************************/
.row-3 {width:100%; height:131px; position:relative; z-index:1; background:url(../images/row3-bg.jpg) center 0 no-repeat #159ab0;}

/*********************************content*************************************/
#content {width:100%; position:relative; z-index:1; background:url(../images/content-tail-top.jpg) 0 0 repeat-x #fff;}
.padding-content {padding:25px 0 20px;}
.padding1-content {padding:23px 0 32px;}

.padding-top {padding-top:6px;}
.padding-top1 {padding-top:20px;}
.padding-right {padding-right:30px;}

.spacer-1 {width:100%; background:url(../images/spacer-1.png) 173px 34px no-repeat;}
.spacer-2 {width:100%; padding-bottom:16px; background:url(../images/spacer-2.png) 371px 157px no-repeat;}

h2 {font-size:28px; line-height:34px; color:#203a59; letter-spacing:-1px;}
h3 {font-size:24px; line-height:29px; color:#1aa2b9; text-transform:uppercase;}
h3 strong {display:block; margin-bottom:0px;}
h4 {font-size:17px; line-height:28px; color:#203a59;}
h4 strong {display:block; margin-bottom:0px;}
h4.side {font-size:17px; line-height:28px; color:#1aa2b9; text-transform:uppercase; margin-bottom: 15px;}
h4.side em {text-transform:none;}
h4.side strong {display:block; margin-bottom:0px;}
h5 {font-size:16px; line-height:20px; color:#203a59;}
h6 {color:#ff0000;}

.border-bot {width:100%; height:1px; background:url(../images/border-bot1.gif) 0 bottom repeat-x;}

.box {width:100%; margin-bottom:2px; background:#f4f4f4;}
.padding-box {padding:9px 10px 8px 12px;}

.img-box {padding:1px; border:3px solid #e4e4e4; background:#fff; }
.img-block {width:100%; padding:176px 0 0; background:url(../images/page4-img1.png) 0 0 no-repeat;}

.button {
	display:inline-block;
	font-size:12px;
	line-height:18px;
	font-weight:400;
	color:#464644;
	text-decoration:none;
	cursor:pointer;
	background:url(../images/button-left.png) left 0 no-repeat;
	font-family:Arial, Helvetica, sans-serif;
}
.button strong {display:inline-block; font-weight:400; padding:0 20px 0 20px; background:url(../images/button-right.png) right 0 no-repeat;}	
.button strong strong {padding:11px 6px 10px 6px; background:url(../images/button-tail.png) 0 0 repeat-x; cursor:pointer;}	
.button:hover {color:#fff; background:url(../images/button-left.png) left bottom no-repeat;}
.button:hover strong  {background:url(../images/button-right.png) right bottom no-repeat;}
.button:hover strong strong  {background:url(../images/button-tail.png) 0 bottom repeat-x;}

.topic {font-size:24px; line-height:29px; color:#fff; margin-bottom:7px;}

.list-number {float:left; margin:8px 5px 0 0; font-size:15px; line-height:18px; color:#111b28;}

.year {float:left; margin-right:5px; font-size:18px; line-height:22px; color:#1aa2b9;}

.list-1 li {font-size:12px; line-height:26px; font-weight:bold;}
.list-1 li a {display:inline-block; color:#ff0000; padding-left:11px; background:url(../images/marker-1.png) 0 -277px no-repeat;}
.list-1 li a:hover {color:#a2a1a1; background-position:0 9px;}

.list-2 li {margin-bottom:20px;}
.list-2 li a {display:inline-block; color:#a2a1a1; padding-left:9px; background:url(../images/marker-1.png) 0 -280px no-repeat;}
.list-2 li a:hover {text-decoration:underline; background-position:0 6px;}

.list-letter {font-size:34px; line-height:41px; color:#1aa2b9; text-transform:uppercase; text-align:center; margin-bottom:4px;}

.link:hover {text-decoration:underline;} 

.link-1 {display:inline-block; font-size:12px; line-height:18px; color:#1f3957; text-transform:uppercase; letter-spacing:-1px; word-spacing:2px; border-bottom:1px solid #1f3957;}
.link-1:hover {color:#a2a1a1; border-bottom:1px solid #a2a1a1;} 

.link-2 {display:inline-block; color:#a2a1a1;}
.link-2:hover {text-decoration:underline;} 

.link-3 {color:#1aa2b9; text-decoration:none;}
.link-3:hover {color:#a2a1a1;} 

.text-1 {font-size:11px; line-height:16px; color:#666; font-weight:700;}

.map-canvas {width:302px; height:214px; overflow:hidden;}

dl dt {color:#e58f0f; font-weight:700;}
dl dd {overflow:hidden;}
dd span {float:left; width:92px;}

/****************************footer************************/
footer {width:100%; font-weight:700; padding:10px 0 20px; border-top: solid 1px #e6e6e6; }

.text-bot {float:left; width:152px; padding-left:38px; margin-right:89px;}
.text-bot .privacy {display:inline-block; margin-top:-2px; color:#666; text-decoration:none;}
.text-bot .privacy:hover {text-decoration:underline;}
.text-bot .logo-bot {float:left; margin-right:2px; width:72px; height:46px; text-indent:-5000px; background:url(../images/logo-bot.png) 0 0 no-repeat;}
.address {float:left; width:170px; padding-top:5px; margin-right:45px;}
.contacts {float:right; width:188px; padding-top:5px; margin-right:10px;}
.footer-link {float:left; width:220px; padding-top:10px; }

/****************************layout************************/
.col-1 {width:190px; padding-left:40px; margin-right:50px;}
.col-2 {width:190px; margin-right:50px;}
.col-3 {width:434px;}
.col-4 {width:230px; padding-left:40px; margin-right:50px;}
.col-5 {width:595px;}
.col-6 {width:270px; padding-left:40px; margin-right:50px;}
.col-7 {width:550px;}
.col-8 {width:240px; padding-left:40px; margin-right:40px;}
.col-9 {width:590px;}
.col-9 .col-1 {width:190px; margin-right:9px; padding-left:0;}
.col-9 .col-2 {width:190px; margin-right:10px;}
.col-9 .col-3 {width:185px;}
.col-10 {width:310px; padding-left:40px; margin-right:50px;}
.col-11 {width:510px;}
.col-12 {width:595px; padding-left:40px;}

/****************************TM-Slider************************/
.slider {width:954px; height:336px; margin:0; position:relative; background:url(../images/slider-bg.jpg) 0 0 no-repeat;}
.items {display:none;}
.banner {
	width:487px;
	height:268px;
	position:absolute;
	left:399px;
	top:0;
}
.banner .slider-banner1 {display:block; width:487px; height:264px; background:url(../images/slider-banner1.png) 0 0 no-repeat;}
.banner .slider-banner2 {display:block; width:487px; height:264px; background:url(../images/slider-banner2.png) 0 0 no-repeat;}
.banner .slider-banner3 {display:block; width:487px; height:264px; background:url(../images/slider-banner3.png) 0 0 no-repeat;}

.slider .controls {position:absolute; right:21px; bottom:21px; overflow:hidden; z-index:99;}
.slider .controls .next {float:right; font-size:18px; line-height:22px; color:#ff0000; text-decoration:none; padding-top: 4px; padding-right:10px; margin-left:32px; background:url(../images/slider-next.png) right 11px no-repeat;}
.slider .controls .next:hover {color:#159ab0; background-position:right -12px;}

.slider .controls .prev {float:right; font-size:18px; line-height:22px; color:#ff0000; text-decoration:none; padding-top: 4px; padding-left:10px; background:url(../images/slider-prev.png) 0 11px no-repeat;}
.slider .controls .prev:hover {color:#159ab0; background-position:0 -12px;}

/****************************easyTooltip************************/
#easyTooltip {font-size:11px; color:#fff; text-transform:none; padding:5px 10px; background:#159ab0; z-index:10;}

/****************************form-newsletter************************/
#form-newsletter {width:181px; padding-top:13px;}
#form-newsletter label {display:block; height:35px;}
#form-newsletter input {
	width:163px; 
	font-size:13px; 
	color:#a2a1a1; 
	padding:4px 8px;
	margin:0;
	background:#fff;
	border:1px solid #999; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	outline:none;
}
#form-newsletter .buttons {margin:0; padding:0; text-align:right;}
#form-newsletter .buttons a {
	display:inline-block;
	font-size:12px; 
	line-height:16px; 
	color:#fff; 
	text-transform:uppercase; 
	text-decoration:none;
	padding:6px 9px 6px 12px;
	background:#1aa2b9;
}
#form-newsletter .buttons a:hover {background:#ff0000;}

/****************************jCarousel************************/
.jcarousel-skin-tango .jcarousel-container-horizontal {width:798px; height:100px; padding:23px 0 0 50px; position:relative;}
.jcarousel-skin-tango .jcarousel-container-horizontal .jcarousel-clip-horizontal {overflow:hidden; width:798px; height:100px;}
.jcarousel-skin-tango .jcarousel-container-horizontal .jcarousel-item {width:240px; height:100px;}
.jcarousel-skin-tango .jcarousel-container-horizontal .jcarousel-item-horizontal {padding:0; margin-left:0; margin-right:40px;}
.jcarousel-skin-tango .jcarousel-container-horizontal .jcarousel-item-placeholder {background:none; color:#000;}
.jcarousel-skin-tango .link-1 {display:inline-block; font-size:12px; line-height:18px; color:#1f3957; text-transform:uppercase; letter-spacing:-1px; word-spacing:2px; border-bottom:1px solid #1f3957;}
.jcarousel-skin-tango .link-1:hover {color:#fff; border-bottom:1px solid #fff;} 

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position:absolute;
    top:45px;
    right:-98px;
    width:44px;
    height:43px;
    cursor:pointer;
    background:url(../images/jc-next1.png) 0 bottom no-repeat;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {background-position:0 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {top:45px; right:-98px;}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position:absolute;
    top:45px;
    left:9px;
    width:44px;
    height:43px;
    cursor:pointer;
    background:url(../images/jc-prev1.png) 0 0 no-repeat;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {background-position:0 bottom;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {top:45px; left:9px;}

/****************************jCarousel-1************************/
.jcarousel-skin-tango-1 .jcarousel-container-horizontal {width:531px; height:163px; padding:0 29px 0 30px; position:relative;}
.jcarousel-skin-tango-1 .jcarousel-container-horizontal .jcarousel-clip-horizontal {overflow:hidden; width:531px; height:163px;}
.jcarousel-skin-tango-1 .jcarousel-container-horizontal .jcarousel-item {width:129px; height:163px;}
.jcarousel-skin-tango-1 .jcarousel-container-horizontal .jcarousel-item-horizontal {padding:0; margin-left:0; margin-right:5px;}
.jcarousel-skin-tango-1 .jcarousel-container-horizontal .jcarousel-item-placeholder {background:none; color:#000;}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-1 .jcarousel-next-horizontal {
    position:absolute;
    top:73px;
    right:1px;
    width:19px;
    height:16px;
    cursor:pointer;
    background:url(../images/jc-next2.png) 0 0 no-repeat;
}
.jcarousel-skin-tango-1 .jcarousel-next-horizontal:hover {background-position:0 bottom;}
.jcarousel-skin-tango-1 .jcarousel-next-horizontal:active {top:73px; right:1px;}

.jcarousel-skin-tango-1 .jcarousel-prev-horizontal {
    position:absolute;
    top:73px;
    left:0px;
    width:19px;
    height:16px;
    cursor:pointer;
    background:url(../images/jc-prev2.png) 0 0 no-repeat;
}
.jcarousel-skin-tango-1 .jcarousel-prev-horizontal:hover {background-position:0 bottom;}
.jcarousel-skin-tango-1 .jcarousel-prev-horizontal:active {top:73px; left:0px;}

/****************************Contact Form************************/
#contact-form {line-height:1em; margin:0; padding:0; width:510px;}
#contact-form textarea, #contact-form input {
	margin:0;
	font-size:1em;
	color:#a2a1a1;
	padding:4px 10px;
	position:relative;
	border:1px solid #dadada;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#fff;
	outline:none;
}
#contact-form input {width:289px;}
#contact-form textarea {overflow:auto; resize:none; width:488px; height:201px;}	
#contact-form label {min-height:33px; display:block;}	
#contact-form label.message {min-height:225px;}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
#contact-form .button {margin-left:8px;}	
#contact-form .error, #contact-form .empty {color:red; padding:5px 0; font-size:11px;}
#contact-form .buttons {margin:0; padding:0; overflow:hidden;}
#contact-form .buttons a {
	float:right;
	font-size:12px; 
	line-height:16px; 
	color:#fff; 
	text-transform:uppercase; 
	text-decoration:none;
	padding:6px 9px 6px 12px;
	margin-left:10px;
	background:#1aa2b9;
}
#contact-form .buttons a:hover {background:#a2a1a1;}

#contact-form .success {color:#a2a1a1; width:246px; margin-bottom:20px; padding:10px; border:1px solid #dadada;}